@import '../colors.scss';

.home_container{
    min-height: calc(100vh - 146px );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        margin: 20px;
        text-align: center;
    }
    .home_block{
        width: 50%;
        border-top: 2px solid $primary;
        text-align: justify;
        h4{
            font-style: italic;
            text-decoration: underline;
            margin: 10px;
        }
        p{
            margin: 10px;
        }
        .home_signature{
            text-align: right;
            font-weight: bold;
        }
    }
}

@media (max-width: 800px){
    .home_container{
        .home_block{
            width: 75%;
        }
    }
}

@media (max-width: 500px){
    .home_container{
        .home_block{
            width: 90%;
        }
    }
}