@import '../colors.scss';

.shop_container{
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .cards_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}