@import '../colors.scss';

.footer_container{
    background-color: $secondary;
    color: $tier;
    height: 80px;
    border-top: 3px solid $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        &:hover{
            color: $primary_dark;
        }
    }
}