@import '../colors.scss';

.navbar_container {
    background-color: $secondary;
    color: $tier;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $primary;
    .navbar_logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        .navbar_icon{
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
        font-size: 18px;
        font-weight: bold;
        a{
            margin: 20px;
            &:hover{
                color: $primary_dark;
            }
        }
    }
}

@media (max-width: 1150px){
    .navbar_container{
        flex-direction: column;
    }
}
@media (max-width: 650px){
    .navbar_container{
        nav{
            font-size: 14px;
        }
}
}
@media (max-width: 500px){
    .navbar_container{
        .navbar_logo{
            h1{
                font-size: 20px;
            }
        }
        nav{
            font-size: 10px;
        }
    }
}
