@import '../colors.scss';

.userbar_container{
    height: 30px;
    background-color: rgba(128, 128, 128, 0.521);
    border-bottom: 3px solid $primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}