$plante :  #9BCC50;
$normal : #A4ACAF;
$feu : #FD7D24;
$eau : #4592C4;
$elec : #EED535;
$glace : #51C4E7;
$combat : #D56723;
$poison : #BA80CA;
$sol :#E0C068;
$psy : #F366B9;
$vol : #3DC7EF;
$insecte : #729F3F;
$roche : #A38C21;
$fée : #FDB9E9;
$ténébre : #7B62A3;
$dragon : #53A4CF;
$acier : #9EB7B8;


$primary : #ED1B24;
$primary_light : #ff5e4e;
$primary_dark : #b20000;

$secondary : #000000;

$tier : #ffffff;