$grass :  #9BCC50;
$normal : #A4ACAF;
$fire : #FD7D24;
$water : #4592C4;
$elec : #EED535;
$ice : #51C4E7;
$fight : #D56723;
$poison : #BA80CA;
$ground :#E0C068;
$psy : #F366B9;
$fly : #3DC7EF;
$bugs : #729F3F;
$rock : #A38C21;
$fairy : #FDB9E9;
$ghost : #7B62A3;
$dragon : #53A4CF;
$steel : #9EB7B8;


$primary : #ED1B24;
$primary_light : #ff5e4e;
$primary_dark : #b20000;

$secondary : #000000;

$tier : #ffffff;